q
u t m
sy 
sy {{name}}

{% for port,ipadd in ports.items() %}
int g{{port}}
ip add {{ipadd}}
{% endfor %}
q
{# 链路配置 #}

{% for info in ospf %}
ospf {{info.ospf}}
area {{info.area}}
network {{info.network}}
{% endfor %}