q
u t m
sy
sys {{name}}
{#基本设备信息配置#}

{% for pool in ippool %}
ip pool vlan{{pool.names}}
gateway-list {{pool.gateway}}
network {{pool.network}}
excluded-ip-address {{pool.excluded}}
q
{% endfor %} 
{#完成配置虚拟接口地址池#}
dhcp enable
ip rou 0.0.0.0 0 192.168.200.254
int g0/0/0
ip add 192.168.200.5 24
dhcp select global
{#完成静态路由配置，DHCP中继前置#}

